Repository Gaebal-Zarang/iOS-GaebalZarang, pull requests merged in 2022-08, with the labels that each got.

#5 LoginView 구현
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/AppDelegate.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/CustomButton.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/CustomTextField.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/LoginSearchSignView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/LoginViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/SceneDelegate.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/StackView +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/UITextField +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/UIView +.swift
Labels: View, Feature

#6 Profile Scene - 자기소개 뷰 구현
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/CustomNextButton.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/IntroduceViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/TextFieldExtension.swift
Labels: View, Feature

#7 Resolve Merge Conflict, UIColor Extension, DesignGuide struct 구현
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/gzChacoal.colorset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/gzGray1.colorset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/gzGray2.colorset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/gzGray3.colorset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/gzGray4.colorset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/gzGreen.colorset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/CustomTextField.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/CustomButton.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/CustomTextField.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/DesignGuide.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/StackView +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/UIColor +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/UITextField +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/UIView +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/LoginScene/View/LoginSearchSignView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/LoginScene/View/LoginViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/IntroduceViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/TextFieldExtension.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/ViewController.swift
Labels: Refactoring, Bug Fix

#9 SignUp Scene 관련 View 구현
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/CustomButton.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/DesignGuide.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/LoginScene/View/LoginSearchSignView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/LoginScene/View/LoginViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/IntroduceViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationContentView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Complete/CompleteViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpNameIDView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpPasswordView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpViewController.swift
Labels: View, Feature

#10 Profile Scene - 위치 입력 뷰, 포지션 선택 뷰 구현
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/xcshareddata/xcschemes/iOS-Gaebalzarang.xcscheme
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/InputTitleView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/UITextField +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/IntroduceViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/LeftAlignedCollectionViewFlowLayout.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/PositionCell.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/ProfileLocationViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/ProfilePositionViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/SceneDelegate.swift
Labels: View, Feature

#11 ViewComponents 수정 및 추가와 디자인 수정에 맞춰 Scene 수정
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/CustomNarrowButton.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/CustomWideButton.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/LoginScene/View/LoginViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/IntroduceViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/ProfileLocationViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/ProfilePositionViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationContentView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Complete/CompleteViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpNameIDView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/SceneDelegate.swift
Labels: View, Refactoring

#13 Login - SignUp Scene 뷰 디자인 수정
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/logo.imageset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/logo.imageset/logo 2x.jpeg
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/logo.imageset/logo 3x.jpeg
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/logo.imageset/logo.jpg
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/signUpImage.imageset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/signUpImage.imageset/signUpImage 2x.jpeg
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/signUpImage.imageset/signUpImage 3x.jpeg
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/signUpImage.imageset/signUpImage.jpeg
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/UITextField +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/LoginScene/View/LoginViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationContentView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Complete/CompleteViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpNameIDView.swift
Labels: View, Refactoring

#15 회원가입 유효성 검사 및 Action 연결
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/Discriminator/ValidationCheckCase.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/Domain Layer/Protocol/CheckValidityUsecase.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/Domain Layer/SignUpUsecase/CheckAuthenticValidityUsecase.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/Domain Layer/SignUpUsecase/CheckUserIdValidityUsecase.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/Domain Layer/SignUpUsecase/CheckUserPswValidityUsecase.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationContentView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpNameIDView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpPasswordView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/ViewModel/SignUpViewModel.swift
Labels: Feature, Logic

#18 Profile Scene 뷰 구현
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/NewColor/gzYellow.colorset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/completeImage.imageset/Contents.json
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/completeImage.imageset/Group 15 (1).png
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/completeImage.imageset/Group 15 (2).png
  iOS-Gaebalzarang/iOS-Gaebalzarang/Assets.xcassets/completeImage.imageset/Group 15.png
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/CustomSelectButton.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/LeftAlignedCollectionViewFlowLayout.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/UIColor +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/PortfolioViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Complete/ProfileCompleteViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Introduce/IntroduceViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Location/ProfileLocationViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Messenger/MessengerViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Position/PositionCell.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Position/ProfilePositionViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Schedule/ScheduleViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Skill/SkillCell.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Skill/SkillViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/SceneDelegate.swift
Labels: View, Feature

#17 키보드 Show/Hide 및 관련 로직 구현
  iOS-Gaebalzarang/Podfile
  iOS-Gaebalzarang/Podfile.lock
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Components/CustomTextField.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Extension +/UIViewController +.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/LoginScene/View/LoginViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationContentView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/Authentication/AuthenticationViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpNameIDView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpPasswordView.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/ViewModel/SignUpViewModel.swift
Labels: Feature, Logic

#20 자기소개 텍스트 뷰 textInset 재조정
  iOS-Gaebalzarang/iOS-Gaebalzarang.xcodeproj/project.pbxproj
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/ProfileScene/View/Introduce/IntroduceViewController.swift
  iOS-Gaebalzarang/iOS-Gaebalzarang/PresentationLayer/Scene/SignUpScene/View/SignUp/SignUpViewController.swift
Labels: Bug Fix
